{% extends "base.html" %}

{% block content %}
<h2 class="text-2xl font-bold mb-6">Tambah Transaksi</h2>

<form method="post" class="bg-white p-6 rounded-2xl shadow-lg space-y-4">
    {% csrf_token %}

    <select name="category" class="w-full border p-2 rounded">
        {% for c in categories %}
            <option value="{{ c.id }}">{{ c.name }}</option>
        {% endfor %}
    </select>

    <input type="number" step="0.01" name="amount"
        placeholder="Jumlah"
        class="w-full border p-2 rounded">

    <input type="date" name="date"
        class="w-full border p-2 rounded">

    <textarea name="description"
        placeholder="Deskripsi"
        class="w-full border p-2 rounded"></textarea>

    <button class="bg-blue-600 text-white px-4 py-2 rounded-lg">
        Simpan
    </button>
</form>
{% endblock %}
