# ======================
# Python / Django
# ======================
venv/
__pycache__/
*.pyc
db.sqlite3
media/

# ======================
# Environment
# ======================
.env

# ======================
# Node / Tailwind
# ======================
node_modules/
dist/
build/
.next/

# ======================
# IDE
# ======================
.vscode/
.idea/

# ======================
# OS
# ======================
.DS_Store
Thumbs.db
